In [16]:
#Importar as Bibliotecas
import pandas as pd
import requests

In [17]:
#Criando um Header

#Pesquisar no navegador (My user agent) colar o caminho no Header
header = {'User-Agente': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 \
(KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36'}

#Dados coletados do Investing.com (Ações do Brasil)
url = 'https://br.investing.com/equities/brazil'
request = requests.get(url, headers=header)

df = pd.read_html(request.text)
df

[    Unnamed: 0               Nome  Último  Máxima  Mínima  Variação     Var%  \
 0          NaN            Rumo ON    1754    1762    1700        55   +3,24%
 1          NaN      Alpargatas PN     958    1081     917      -220  -18,68%
 2          NaN  Aliansce Sonae ON    1747    1761    1719         5   +0,29%
 3          NaN           Ambev ON    1286    1299    1260       -16   -1,23%
 4          NaN          Arezzo ON    7742    8026    7683      -369   -4,55%
 ..         ...                ...     ...     ...     ...       ...      ...
 83         NaN       Rede D'Or ON    2836    2856    2790        26   +0,93%
 84         NaN   CSN Mineração ON     490     497     484         1   +0,20%
 85         NaN           Assaí ON    1863    1875    1826        11   +0,59%
 86         NaN          Raizen PN     321     331     318        -7   -2,13%
 87         NaN       Iguatemi Unt    1897    1912    1837        47   +2,54%

       Vol.   Hora  Unnamed: 9
 0    7,79M  10/02         NaN
 1   34,34M  10/02         NaN
 2    3,28M  10/02         NaN
 3   49,14M  10/02         NaN
 4    2,64M  10/02         NaN
 ..     ...    ...         ...
 83   2,21M  10/02         NaN
 84   5,06M  10/02         NaN
 85   6,33M  10/02         NaN
 86  23,23M  10/02         NaN
 87   2,84M  10/02         NaN

 [88 rows x 10 columns],
     0                 1         2     3       4   5   6
 0 NaN          Ibovespa   108.078    70  +0,07% NaN NaN
 1 NaN  Ibovespa Futuros   108.060   -20  -0,02% NaN NaN
 2 NaN            US 500   4.089,7    82  +0,20% NaN NaN
 3 NaN             US 30  33.870,5  1706  +0,51% NaN NaN
 4 NaN       S&P 500 VIX      2053     0   0,00% NaN NaN
 5 NaN    Bitcoin Futuro  21.610,0 -4000  -1,82% NaN NaN
 6 NaN      Índice Dólar    103470   364  +0,35% NaN NaN,
     0                1         2     3       4   5   6
 0 NaN   Petróleo Brent      8652   202  +2,39% NaN NaN
 1 NaN     Petróleo WTI      7976   170  +2,18% NaN NaN
 2 NaN  Café Contrato C     17495   130  +0,75% NaN NaN
 3 NaN             Soja  1.543,25  2425  +1,60% NaN NaN
 4 NaN         Cacau NY  2.582,50   450  +0,17% NaN NaN
 5 NaN             Ouro  1.876,50  -200  -0,11% NaN NaN
 6 NaN   Açúcar NY nº11      2153     8  +0,37% NaN NaN,
     0        1      2     3       4   5   6
 0 NaN  USD/BRL  52156  -755  -1,43% NaN NaN
 1 NaN  EUR/BRL  55687 -1118  -1,97% NaN NaN
 2 NaN  EUR/USD  10677   -59  -0,55% NaN NaN
 3 NaN  USD/JPY  13138   -19  -0,14% NaN NaN
 4 NaN  GBP/USD  12059   -63  -0,52% NaN NaN
 5 NaN  GBP/BRL  62895 -1245  -1,94% NaN NaN
 6 NaN  CAD/BRL  39087  -234  -0,60% NaN NaN,
     0                  1     2    3       4   5   6
 0 NaN       Petrobras PN  2672   79  +3,05% NaN NaN
 1 NaN            Vale ON  8680 -159  -1,80% NaN NaN
 2 NaN             Via ON   205    0   0,00% NaN NaN
 3 NaN  Magazine Luiza ON   399  -12  -2,92% NaN NaN
 4 NaN      IRB Brasil ON  2202  -60  -2,65% NaN NaN
 5 NaN              Oi ON   126    0  +0,00% NaN NaN
 6 NaN             Weg ON  3860   62  +1,63% NaN NaN,
    Unnamed: 0                Nome  Último    Var%     Vol.  Unnamed: 5  \
 0         NaN         Bradesco PN    1267  -8,19%  237,89M         NaN
 1         NaN        Petrobras PN    2672  +3,05%   54,68M         NaN
 2         NaN    Itaú Unibanco PN    2580  -0,46%   52,16M         NaN
 3         NaN            Ambev ON    1286  -1,23%   49,14M         NaN
 4         NaN        Petrobras ON    3008  +2,73%   22,16M         NaN
 5         NaN             Vale ON    8680  -1,80%   18,10M         NaN
 6         NaN  Banco do Brasil ON    4037  +0,00%   14,92M         NaN

    Unnamed: 6
 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
 5         NaN
 6         NaN  ,
    Unnamed: 0                  Nome  Último     Var%     Vol.  Unnamed: 5  \
 0         NaN  Everest Re Group BDR   49465  +33,05%    0,00K         NaN
 1         NaN     Energy Resort FII     174  +21,68%   41,66K         NaN
 2         NaN        Três Tentos ON    1235  +17,06%    6,27M         NaN
 3         NaN  Banco Pan Subscrição       9  +12,50%   79,40K         NaN
 4         NaN            Dexcom DRC    1229   +8,00%    2,21K         NaN
 5         NaN                JSL ON     651   +7,78%  455,10K         NaN
 6         NaN      Schlumberger BDR   14644   +6,85%    0,66K         NaN

    Unnamed: 6
 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
 5         NaN
 6         NaN  ,
    Unnamed: 0                      Nome  Último     Var%     Vol.  Unnamed: 5  \
 0         NaN      Emerson Electric BDR   44603  -12,39%    1,02K         NaN
 1         NaN                   PVH BDR   21100  -12,08%    0,01K         NaN
 2         NaN    Unity Software Inc BDR     936  -10,86%   19,74K         NaN
 3         NaN     AMC Entertainment BDR     414   -9,01%   25,56K         NaN
 4         NaN  CrowdStrike Holdings DRC    2574   -8,40%    1,88K         NaN
 5         NaN        Cruzeiro do Sul ON     299   -8,00%  842,80K         NaN
 6         NaN          Infracommerce ON     234   -7,87%  929,10K         NaN

    Unnamed: 6
 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
 5         NaN
 6         NaN  ]

In [18]:
#Coletar as Informações em lista com o laço for 
for i , tabela in enumerate(df):
  print('-----------------------------')
  print(i)
  print(tabela)

-----------------------------
0
    Unnamed: 0               Nome  Último  Máxima  Mínima  Variação     Var%  \
0          NaN            Rumo ON    1754    1762    1700        55   +3,24%
1          NaN      Alpargatas PN     958    1081     917      -220  -18,68%
2          NaN  Aliansce Sonae ON    1747    1761    1719         5   +0,29%
3          NaN           Ambev ON    1286    1299    1260       -16   -1,23%
4          NaN          Arezzo ON    7742    8026    7683      -369   -4,55%
..         ...                ...     ...     ...     ...       ...      ...
83         NaN       Rede D'Or ON    2836    2856    2790        26   +0,93%
84         NaN   CSN Mineração ON     490     497     484         1   +0,20%
85         NaN           Assaí ON    1863    1875    1826        11   +0,59%
86         NaN          Raizen PN     321     331     318        -7   -2,13%
87         NaN       Iguatemi Unt    1897    1912    1837        47   +2,54%

      Vol.   Hora  Unnamed: 9
0    7,79M  10/02         NaN
1   34,34M  10/02         NaN
2    3,28M  10/02         NaN
3   49,14M  10/02         NaN
4    2,64M  10/02         NaN
..     ...    ...         ...
83   2,21M  10/02         NaN
84   5,06M  10/02         NaN
85   6,33M  10/02         NaN
86  23,23M  10/02         NaN
87   2,84M  10/02         NaN

[88 rows x 10 columns]
-----------------------------
1
    0                 1         2     3       4   5   6
0 NaN          Ibovespa   108.078    70  +0,07% NaN NaN
1 NaN  Ibovespa Futuros   108.060   -20  -0,02% NaN NaN
2 NaN            US 500   4.089,7    82  +0,20% NaN NaN
3 NaN             US 30  33.870,5  1706  +0,51% NaN NaN
4 NaN       S&P 500 VIX      2053     0   0,00% NaN NaN
5 NaN    Bitcoin Futuro  21.610,0 -4000  -1,82% NaN NaN
6 NaN      Índice Dólar    103470   364  +0,35% NaN NaN
-----------------------------
2
    0                1         2     3       4   5   6
0 NaN   Petróleo Brent      8652   202  +2,39% NaN NaN
1 NaN     Petróleo WTI      7976   170  +2,18% NaN NaN
2 NaN  Café Contrato C     17495   130  +0,75% NaN NaN
3 NaN             Soja  1.543,25  2425  +1,60% NaN NaN
4 NaN         Cacau NY  2.582,50   450  +0,17% NaN NaN
5 NaN             Ouro  1.876,50  -200  -0,11% NaN NaN
6 NaN   Açúcar NY nº11      2153     8  +0,37% NaN NaN
-----------------------------
3
    0        1      2     3       4   5   6
0 NaN  USD/BRL  52156  -755  -1,43% NaN NaN
1 NaN  EUR/BRL  55687 -1118  -1,97% NaN NaN
2 NaN  EUR/USD  10677   -59  -0,55% NaN NaN
3 NaN  USD/JPY  13138   -19  -0,14% NaN NaN
4 NaN  GBP/USD  12059   -63  -0,52% NaN NaN
5 NaN  GBP/BRL  62895 -1245  -1,94% NaN NaN
6 NaN  CAD/BRL  39087  -234  -0,60% NaN NaN
-----------------------------
4
    0                  1     2    3       4   5   6
0 NaN       Petrobras PN  2672   79  +3,05% NaN NaN
1 NaN            Vale ON  8680 -159  -1,80% NaN NaN
2 NaN             Via ON   205    0   0,00% NaN NaN
3 NaN  Magazine Luiza ON   399  -12  -2,92% NaN NaN
4 NaN      IRB Brasil ON  2202  -60  -2,65% NaN NaN
5 NaN              Oi ON   126    0  +0,00% NaN NaN
6 NaN             Weg ON  3860   62  +1,63% NaN NaN
-----------------------------
5
   Unnamed: 0                Nome  Último    Var%     Vol.  Unnamed: 5  \
0         NaN         Bradesco PN    1267  -8,19%  237,89M         NaN
1         NaN        Petrobras PN    2672  +3,05%   54,68M         NaN
2         NaN    Itaú Unibanco PN    2580  -0,46%   52,16M         NaN
3         NaN            Ambev ON    1286  -1,23%   49,14M         NaN
4         NaN        Petrobras ON    3008  +2,73%   22,16M         NaN
5         NaN             Vale ON    8680  -1,80%   18,10M         NaN
6         NaN  Banco do Brasil ON    4037  +0,00%   14,92M         NaN

   Unnamed: 6
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
-----------------------------
6
   Unnamed: 0                  Nome  Último     Var%     Vol.  Unnamed: 5  \
0         NaN  Everest Re Group BDR   49465  +33,05%    0,00K         NaN
1         NaN     Energy Resort FII     174  +21,68%   41,66K         NaN
2         NaN        Três Tentos ON    1235  +17,06%    6,27M         NaN
3         NaN  Banco Pan Subscrição       9  +12,50%   79,40K         NaN
4         NaN            Dexcom DRC    1229   +8,00%    2,21K         NaN
5         NaN                JSL ON     651   +7,78%  455,10K         NaN
6         NaN      Schlumberger BDR   14644   +6,85%    0,66K         NaN

   Unnamed: 6
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
-----------------------------
7
   Unnamed: 0                      Nome  Último     Var%     Vol.  Unnamed: 5  \
0         NaN      Emerson Electric BDR   44603  -12,39%    1,02K         NaN
1         NaN                   PVH BDR   21100  -12,08%    0,01K         NaN
2         NaN    Unity Software Inc BDR     936  -10,86%   19,74K         NaN
3         NaN     AMC Entertainment BDR     414   -9,01%   25,56K         NaN
4         NaN  CrowdStrike Holdings DRC    2574   -8,40%    1,88K         NaN
5         NaN        Cruzeiro do Sul ON     299   -8,00%  842,80K         NaN
6         NaN          Infracommerce ON     234   -7,87%  929,10K         NaN

   Unnamed: 6
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN

In [19]:
#Data Frame
df = pd.DataFrame(df[0])

In [13]:
#Exibir Tabela
df

,Unnamed: 0,Nome,Último,Máxima,Mínima,Variação,Var%,Vol.,Hora,Unnamed: 9
0,NaN,Rumo ON,1754,1762,1700,55,"+3,24%","7,79M",10/02,NaN
1,NaN,Alpargatas PN,958,1081,917,-220,"-18,68%","34,34M",10/02,NaN
2,NaN,Aliansce Sonae ON,1747,1761,1719,5,"+0,29%","3,28M",10/02,NaN
3,NaN,Ambev ON,1286,1299,1260,-16,"-1,23%","49,14M",10/02,NaN
4,NaN,Arezzo ON,7742,8026,7683,-369,"-4,55%","2,64M",10/02,NaN
...,...,...,...,...,...,...,...,...,...,...
83,NaN,Rede D'Or ON,2836,2856,2790,26,"+0,93%","2,21M",10/02,NaN
84,NaN,CSN Mineração ON,490,497,484,1,"+0,20%","5,06M",10/02,NaN
85,NaN,Assaí ON,1863,1875,1826,11,"+0,59%","6,33M",10/02,NaN
86,NaN,Raizen PN,321,331,318,-7,"-2,13%","23,23M",10/02,NaN
87,NaN,Iguatemi Unt,1897,1912,1837,47,"+2,54%","2,84M",10/02,NaN

In [20]:
#Ajustando Data Frame (Formatando)
df['Último'] = df['Último'] / 100
df['Máxima'] = df['Máxima'] / 100
df['Mínima'] = df['Mínima'] / 100

In [21]:
##Exibir Tabela
df

,Unnamed: 0,Nome,Último,Máxima,Mínima,Variação,Var%,Vol.,Hora,Unnamed: 9
0,NaN,Rumo ON,17.54,17.62,17.00,55,"+3,24%","7,79M",10/02,NaN
1,NaN,Alpargatas PN,9.58,10.81,9.17,-220,"-18,68%","34,34M",10/02,NaN
2,NaN,Aliansce Sonae ON,17.47,17.61,17.19,5,"+0,29%","3,28M",10/02,NaN
3,NaN,Ambev ON,12.86,12.99,12.60,-16,"-1,23%","49,14M",10/02,NaN
4,NaN,Arezzo ON,77.42,80.26,76.83,-369,"-4,55%","2,64M",10/02,NaN
...,...,...,...,...,...,...,...,...,...,...
83,NaN,Rede D'Or ON,28.36,28.56,27.90,26,"+0,93%","2,21M",10/02,NaN
84,NaN,CSN Mineração ON,4.90,4.97,4.84,1,"+0,20%","5,06M",10/02,NaN
85,NaN,Assaí ON,18.63,18.75,18.26,11,"+0,59%","6,33M",10/02,NaN
86,NaN,Raizen PN,3.21,3.31,3.18,-7,"-2,13%","23,23M",10/02,NaN
87,NaN,Iguatemi Unt,18.97,19.12,18.37,47,"+2,54%","2,84M",10/02,NaN